@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-image: linear-gradient(to left, #012030,#3a5461);
    text-align: center;
    color: white;
}

main {
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #37888884;
    width: 600px;
}

p {
    color: #012030;
    font-family: 'Open Sans';
    font-weight: 500;
    
}

h1 {
    color: #012030;
    font-family: 'Source Sans Pro';
    font-weight: bold;
}

h2 {
    color: #012030;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 26px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

ul {
    text-align: justify;
    margin-left: 150px;
}